body {
    background-color: #47A3FB;
width: 100%;
height: 100%;
  }
  

  .divisor {
    background-color:#9CE139 ;
    height: 20px;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .navbar-toggler:focus{
   box-shadow: none;
  }
  .navbar {
    background-color: #044D98;
      margin-top: 0;
      height:min-content;
    z-index: 2; 
    position: sticky;
  }
  .navbar-nav {
   justify-content: center;
}
  .navbar ul{
   align-items: center;

  }
.navbar-toggler{
   border: none;
}
  h1{
    color: #EAEAEA;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 800!important;

 }
 h2{
   font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
color: #044D98;
 }
 .btn{
   background-color:#044D98;
   color: #EAEAEA;
   border: none;
 }
 .btn:hover{
   background-color: #9CE139;
 }
 .home
 {
    display: flex;
    flex-wrap: wrap;
 }

 .nav-link{
    color: #9CE139;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;

 }
 .collapse{
    justify-content: space-between;
 }

 .shop-page{
    background-color: #EAEAEA;
 }

.pixar img{
   width: 15%;
}
 table tr td{
   text-align:-moz-center;
 }
 .box {
   width: 60%; 
   height: 250px;
   position: relative;
 }



 
 .ribbon.right {
     position: absolute;
     right: -5px;
     top: -5px;
     z-index: 1;
     overflow: hidden;
     width: 180px;
     height: 180px;
     text-align: left;
 }
 
 .ribbon.right span {
     font-size: large;
     font-weight: bold;
     color: #FFF;
     text-transform: uppercase;
     text-align: center;
     line-height: 30px;
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     width:100%;
     display: block;
     background: #FFD800;
     color:#F1050C;
     position: absolute;
     top: 22%;
     right: -32px;
 }

footer{
   background-color: #044D98;
}
.row>* {
   padding-left: 0; 
}

.row{
   text-align: center;
}

.nav-link:hover{
   color: #FFD800;
}

footer {
   color: #e7e5de; 
   padding: 4%; 
   height: 300px;
   font-family: 'montserrat',sans-serif;
 }
 
 .footer-content {
   margin: 0 auto; 
   justify-content: center;
 
 }


 .row{
text-align: center;
 }
.display-4{
   padding-bottom: 10%;
}
.bienvenida {
   margin-top: 20px;
}

.mt-5{
   margin-top: 0!important;
}
.list-unstyled a{
   text-decoration: underline;
   color: #EAEAEA;
}
.list-unstyled a:hover{
   color:#FFD800
}
       
.custom-logo {
    width: 15%; 
    transform: rotate(-20deg); 
}
.ribbon a span:hover{
   color: #044D98;
}

.bienvenida {
  margin-top: 0!important;
}


h1 {
    font-size: 2.5rem; }


button:not(:disabled) {
   cursor: pointer;
   float: right;
margin-top: 2%;}


.disney{
   width: 10%;
}
@media (min-width: 320px) and (max-width: 991px) {
   .navbar-expand-lg .container-fluid {
      display: block;

   }
   .disney{
      width: 25%;
   }
}
@media (min-width: 1260px) {
   h1 {
      font-size: 4.5rem !important;
   }
}
