body {
    background-color: #47A3FB;
width: 100%;
height: 100%;
  }
  
  .marciano {
   position: relative;
   display: inline-block;
}

#cartelCambiarFrase {
   position: absolute;
   top: 10%;
   left: 70%;
   transform: translate(-50%, -50%);
   background-color: transparent;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   display: none;
   rotate: -45;
}

.marciano:hover #cartelCambiarFrase {
   display: block;
}

#botonCambiarFrase {
   cursor: pointer;
   margin-top: 10px;
}
  .divisor {
    background-color:#9CE139 ;
    height: 20px;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .navbar-toggler:focus{
   box-shadow: none;
  }
  .navbar {
    background-color: #044D98;
      margin-top: 0;
      height:min-content;
    z-index: 2; 
    position: sticky;
  }
  .navbar-nav {
   justify-content: center;
}
  .navbar ul{
   align-items: center;

  }
.navbar-toggler{
   border: none;
}
  h1{
    color: #EAEAEA;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 800!important;

 }
 h2{
   font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
color: #044D98;
 }
 .btn a{
   text-decoration: none;
   color: #EAEAEA;
 }
 .btn{
   background-color:#044D98;
   color: #EAEAEA;
   border: none;
   border-radius: 25px;
   align-items: center;
 }
 .btn:hover{
   background-color: #9CE139;
 }
 .home
 {
    display: flex;
    flex-wrap: wrap;
 }

 .nav-link{
    color: #9CE139;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;

 }
 .collapse{
    justify-content: space-between;
 }

 .fa{
   color: #FFD800;
 }
 
.pixar img{
   width: 15%;
}
 table tr td{
   text-align:-moz-center;
 }
 .box {
   width: 60%; 
   height: 250px;
   position: relative;
 }

 .img-small {
   max-width: 100%; 
   border: none; 
}


 
 .ribbon.right {
     position: absolute;
     right: -5px;
     top: -5px;
     z-index: 1;
     overflow: hidden;
     width: 180px;
     height: 180px;
     text-align: left;
 }
 
 .ribbon.right span {
     font-size: large;
     font-weight: bold;
     color: #FFF;
     text-transform: uppercase;
     text-align: center;
     line-height: 30px;
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     width:100%;
     display: block;
     background: #FFD800;
     color:#F1050C;
     position: absolute;
     top: 22%;
     right: -32px;
 }

footer{
   background-color: #044D98;
}
body.homepage .row > * {
   padding-left: 0;
}

.row{
   text-align: center;
}

.nav-link:hover{
   color: #FFD800;
}

footer {
   color: #e7e5de; 
   padding: 4%; 
   height: 300px;
   font-family: 'montserrat',sans-serif;
 }
 
 .footer-content {
   margin: 0 auto; 
   justify-content: center;
 
 }


.social-icon {
   color: #9CE139;
   font-size: 24px;
   margin: 0 10px;
   transition: background-color 0.3s ease, color 0.3s ease;

}
.social-icon:hover {
   color: white;
}

.pdp{
   width: 30%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

 .row{
text-align: center;
justify-content: center;
 }
.display-4{
   padding-bottom: 10%;
}
.bienvenida {
   margin-top: 20px;
}

.mt-5{
   margin-top: 0!important;
}
.list-unstyled a{
   text-decoration: underline;
   color: #EAEAEA;
}
.list-unstyled a:hover{
   color:#FFD800
}
       
.custom-logo {
    width: 15%; 
    transform: rotate(-20deg); 
}
.ribbon a span:hover{
   color: #044D98;
}

.bienvenida {
  margin-top: 0!important;
}


h1 {
    font-size: 2.5rem; }


button:not(:disabled) {
   cursor: pointer;
   float: right;
margin-top: 2%;}


.disney{
   width: 10%;
}
.card {
   width: 80%;
}
.carousel-item img {
   height: 50vh;
   object-fit: cover;
}
body.shop{
   background-color: #EAEAEA!important;
}
body.dvds{
   background-color: #EAEAEA!important;
}
body.carrito{
   background-color: #EAEAEA;
}
body.toystoryland {
   background-color: #EAEAEA;
}
.image-container {
   position: relative;
   overflow: hidden;
 }
 
 .image-container img {
   width: 100%;
   height: auto;
   transition: transform 0.3s ease; 
 }
 
 .image-container .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); 
   opacity: 0; 
   display: flex;
   align-items: center;
   justify-content: center;
   transition: opacity 0.3s ease; 
 }
 
 .image-container .overlay p {
   color: #fff;
   font-size: 20px;
 }
 

 .image-container:hover img {
   transform: scale(1.1); 
 }
 
 .image-container:hover .overlay {
   opacity: 1;
 }
 

.shop body{
   width: 100%;
}
.image-container {
   border-radius: 25px;
}

.banner {
   position: relative;
   height: 180px;
   padding: 11px 0 16px;
   margin: 0 auto;
   text-align: center;
}

.dg-container {
   position: relative;
   width: 100%;
   height: 350px;
}

.dg-wrapper {
   width: 320px;
   height: 250px;
   margin: 0 auto;
   position: relative;
   transform-style: preserve-3d;
   perspective: 1000px;
}

.dg-wrapper a {
   width: 100%;
   height: 250px;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
}

.dg-wrapper a:first-child {
   z-index: 2;
}

.dg-wrapper a img {
   display: block;
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20);
   border-radius: 4px;
   width: 100%;
   height:350px;
   background: #fff;
}

.dg-wrapper a.dg-transition {
   transition: all 0.5s ease-in-out;
}

.dg-wrapper a.dg-transition-fast {
   transition: all 0.2s ease-in-out;
}

.dg-container nav {
   display: none;
}

.dg-container nav span:hover {
   opacity: 1;
}

.dg-container nav span.dg-next {
   background-position: top right;
   margin-left: 10px;
}

.dg-container #lightButton2 {
   bottom: 20px;
}

.dg-container .button {
    position: relative;
    z-index: 5;
}

.dg-container .button li {
   cursor: pointer;
   display: inline-block;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   margin-right: 5px;
   background: rgba(255, 255, 255, 0.30);
   border: 1px solid rgba(0, 0, 0, 0.20);
}

.dg-container .button .light {
   background: #01BDFF;
}

.formtsl{
   margin-top: 5%; 
   margin-bottom: 5%;
   background-color: #FFF;
   border-radius: 25px;
   align-items: center;
   padding: 2%;
}

.form-group:focus-within label {
   color: #9CE139; 
}

.form-group:focus-within input {
   border-color: #9CE139; 
}
.carousel-caption {
   position: absolute;
   bottom: 1.25rem;
   right: 60%;
   left: 1%;
   padding-top: 1.25rem;
   padding-bottom: 1.25rem;
   color: #fff;
   text-align: center;
float: left;}
.dvd-card:hover .cd-image {
   animation: spin 2s linear infinite;
}
.center-button {
   display: block;
   margin: 0 auto;
}
button.dvdcarrito {
   align-items: center;
   float: initial;
   font-weight: bolder;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
   object-fit: cover;
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.image-container:hover img.hover-image {
  transform: scale(1.1);
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
.dvd-card {
   width: 80%;
   margin: 10px;
   display: inline-block;
   position: relative;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

.dvd-image {
   width: 100%;
   height: auto;
   transition: transform 0.5s;
}

.cd-image {
   width: 100%;
   height: auto;
   position: absolute;
   top: 0;
   left: 0;
   transform: scale(0);
   transition: transform 0.5s;
}

.dvd-card:hover .dvd-image {
   transform: scale(0);
}


.dvd-card:hover .cd-image {
   transform: scale(1);
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.product-info {
   background-color: #fff;
   padding: 10px;
   text-align: center;
   border-top: 1px solid #ccc;
}

.product-name {
   font-weight: bold;
}

.product-price {
   color: #f00;
}

.product-info button {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
}

.product-info button:hover {
   background-color: #0056b3;
}
#boton-compras {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 999;
}

@media (max-width: 767px) {
   #boton-compras {
       bottom: 5%;
   }
}
.card {
   background-color: rgba(255, 255, 255, 0.9); 
}

.list-group-item {
   border: none;
}

.card-header {
   background-color: #9ce139; 
   color: #000;
}

.img-thumbnail {
   max-width: 100px; 
}

.btn-danger {
   background-color: #e60000;
   border: none;
}


.list-unstyled{
   display: flex;
   justify-content:space-between;
}
.img-small {
   max-width: 50px; 
}
#bounce-logo {
   position: relative;
   animation: bounceAnimation 3s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}
.juguete-card {
   opacity: 0;
   transform: translateY(50px);
   transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
 }


 .juguete-card.animated {
   opacity: 1;
   transform: translateY(0);
 }

.card-img-top {
   transition: transform 0.3s ease-in-out;
}

.dvdcarrito {
   transition: background-color 0.3s ease-in-out;
}
.card:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#titulo {
   text-align: center;
   font-size: 300%;
   margin-top: 20vh;
   opacity: 0;
   animation: caida-letras 2s forwards;
   color: #EAEAEA;
 }

 #agradecimiento {
   text-align: center;
   margin-top: 20px;
   opacity: 0;
   animation: aparecer-agradecimiento 2s forwards;
   color: #EAEAEA;
   font-weight: bold;
 }

 #boton {
  
   margin-top: 20px;
   animation: aparecer-boton 2s forwards;
 }

 #video-background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   object-fit: cover;
 }
.form-register{
   margin-top: 5%;
   height: 60vh;
}
.formuser a{
   color: #044D98;
}
.formuser a:hover{
   color: #9CE139;
}
 @keyframes caida-letras {
   0% {
     transform: translateY(-100%);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }
 
 @keyframes aparecer-agradecimiento {
   0% {
     transform: translateY(50px);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }
 
 @keyframes aparecer-boton {
   0% {
     transform: translateY(50px);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }}
@keyframes bounceAnimation {
   0%, 100% {
       transform: translateY(0);
   }
   50% {
       transform: translateY(-20px);
   }
   60% {
       transform: translateY(-10px);
   }
   70% {
       transform: translateY(-20px);
   }
   80%, 90% {
       transform: translateY(0);
   }
}

@media screen and (max-width: 991px){
   .navbar-expand-lg .container-fluid {
      display: block;
  }
   .disney {
      width: 20%;
  }
}

@media screen and (max-width: 320px) 
 {

   .navbar-expand-lg .container-fluid {
       display: block;
   }
   .disney {
       width: 100%;
   }
   .copyr{
      font-size: small;
   }
   #titulo{
      font-size: 50px;
       }
}



@media screen and (min-width: 1260px) {
   h1 {
      font-size: 4.5rem !important;
   }
}
